openapi: 3.0.0

################################################################################
#                              API Information                                 #
################################################################################
info:
  version: v1.0.0
  title: Common APIs
  description:
    The first version of the Hisab core API.

################################################################################
#                  Host, Base Path, Schemes and Content Types                  #
################################################################################
servers:
  - url: https://api.app.hisab.co
    description: Main (production) server
  - url: http://api.alpha.hisab.co
    description: Internal staging server
  - url: http://api.test3.hisab.co
    description: Testing environment

################################################################################
#                                           Paths                              #
################################################################################

################################################################################
#                                 components                                  #
################################################################################
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: http://app.hisab.co/auth/authorize?response_type=token&client_id=hisab-webapp&redirect_uri=REDIRECT-URI
          tokenUrl: http://app.hisab.co/oauth/token
          scopes:
            read: Grants read access
            write: Grants write access
            admin: Grants access to admin operations
            ROLE_USER: Login user
            COMPANY_ADMIN: Grants update company information
            COMPANY_OWNER: Grants update company information
            COMPANY_EDITOR: Grants update company information
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        fields:
          type: string
